# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

application.yml
bun.lock
Lavalink.jar
yarn.lock
example/search.ts
plugins/lavasrc-plugin-4.6.0.jar
plugins/youtube-plugin-0e5cfca4e88c32db430ce76e6866b13035c85d22.jar
